a{
    position: absolute;
    bottom: 300px;
    left: 600px;
    text-decoration: none;
    padding: 15px 30px;
    font-weight: bold;
    font-size: larger;
    font-family: sans-serif;
    box-shadow: 0px 8px 16px 0px;
    background-color: white;
    border-radius: 5px;
    cursor: pointer;
    

}
.kky1:hover{
    background-color: red;
}
body{
    background-color: blue;

}